/* Переменные, генерируемые Matugen */
@import url(".config/wofi/colors.css");

/* Очищаем фон окна */
window {
    background-color: transparent;
}

/* Основной контейнер с динамической рамкой */
#outer-box {
    background-color: @bg_window;
    border: 3px solid @accent;
    border-radius: 0px;
    padding: 4px;
    /* Свечение в цвет акцента с прозрачностью */
    box-shadow: 0 0 10px 2px rgba(250, 186, 115, 0.3); 
}

#input {
    background-color: @bg_input;
    color: @accent;
    border: 2px solid @accent;
    border-radius: 0px;
    padding: 0.65rem 0.9rem;
    margin: 10px;
    outline: none;
    font-family: "JetBrains Mono";
}

#inner-box {
    background-color: @bg_inner;
    border-radius: 0px;
    margin: 5px;
    padding: 5px;
}

#scroll {
    margin: 0 5px 5px 5px;
}

#entry {
    padding: 8px;
    margin: 2px 0;
    border-radius: 0px;
    color: @text_main;
}

#entry:selected {
    background-color: @bg_selected;
    color: @text_selected;
}

#text {
    color: @text_main;
}
